<header>
    <nav>
        <ul>
            <li>
                <a href="##"class="nav-item">Homa</a>
            </li>
            <li>
                <a href="##"class="nav-item">Book</a>
            </li>
            <li>
                <a href="##"class="nav-item">Photo</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container-map">
    <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
        <ya-placemark [geometry]="[55.751952, 37.600739]" [properties]="{iconCaption: 'Moskow'}"></ya-placemark>
    </ya-map>
</div>
<router-outlet />